<div class="containerForm">
  <div class="form">
    <h3 class="title">Create a service</h3>
    <%= simple_form_for(@service) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :specialty, collection: Service::SPECIALTIES %>
      <%= f.input :price, as: :integer %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
