<%= render "pages/banner" %>

<section class="home-background py-5" style="width: 100%;">
  <h2 class="home-border-bottom home-margin text-center text-white mb-5">Services of <%= @speacilty %></h2>
  <div class="card-grid">
    <% @services.each do |service| %>
      <% user = User.find_by(id: service[:user_id]) %>
        <%= link_to "/services/#{service[:id]}", style: "text-decoration: none; color: inherit", class: "cardInfo" do %>
          <div class="card" style="width: 18rem; height: 28rem; cursor: pointer">
            <%=cl_image_tag service.user.photo.key, class:"card-img-top img-thumbnail", style: "height:230px" %>
            <div class="card-body text-left">
              <strong><p class="card-title">Name: </strong><%= user.full_name %></p>
              <strong><p>Price per hour: </strong><%= service.price %>$</p>
              <strong><p>Description: </strong><%= service.description %></p>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</section>

<%= render "pages/footer" %>
