<%= render "banner" %>

<div class="container text-center mt-4">

  <%# Bootstrap collapse %>
  <div style="padding-bottom: 30px">
    <h3 class="home-margin mb-5 home-h3">You may be asking yourself...</h3>

    <p class="mb-5">
      <a class="btn btn-flat mb-3" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Why do I need a mentor?</a>
      <button class="mb-3 mx-3 btn btn-flat" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Why should I become a mentor?</button>
    </p>

    <section>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              Mentors can help you grow a professional network by connecting you to others,
              they also serve as coaches that can help you during times of change and/or transition,
              challenging you, and pushing you to go farther than you thought you could go! Mentors can inspire you and keep you focused.
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class=" card card-body">
              It's essential to broaden your horizons, by mentoring others you'll be working with a wide range of people and it is
              important that you are able to relate.
              Leadership is also a valuable skill in any environment, and mentoring is a key part of it.
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>

<%# profession cards %>
<section class="home-background py-5 mt-5">
  <h2 class="home-border-bottom home-margin text-center text-white mb-5">Tech Jobs List</h2>
  <div class="card-grid home-margin">
    <% @cards.each do |card| %>
      <%= link_to card[:link_path], style: "text-decoration: none; color: inherit", class: "cardInfo" do %>
        <article class= "mb-4">
          <div class="card" style="width: 18rem; height: 26rem">
            <img class="card-img-top img-thumbnail" src="<%= image_path(card[:image_path])%>">
            <div class="card-body text-center">
                <h5 class="card-title text-primary"><%= card[:title] %></h5>
                <p class="card-text"><%= card[:content] %></p>
            </div>
          </div>
        </article>
      <% end %>
    <% end %>
  </div>
</section>

<%= render "footer" %>
